.menu-card {
    background-color: #EDEFEE;
    height: 430px;
    border-radius: 16px;
}

.menu-card img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.menu-card img + div {
    display: flex;
    height: 55%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem 1rem;
}

.menu-card img + div > div{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu-card-title{
    font-family: 'Markazi Text', serif;
    font-size: 25px;
}

.menu-card-price{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    color:var(--secondary-dark);
}

.menu-card > div > span:first-of-type{
    font-family: 'Karla', sans-serif;
    color:var(--primary-dark);
}

.menu-card-order{
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

@media screen and (max-width: 900px) {
    .menu-card {
        height: 300px;
    }
}